<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h3>Added to table.</h3>
    <a href="/">Home</a>
    <a href="/showTable">Show Table</a>
</body>
</html>
